@font-face {
    font-family: 'Raleway';
    src:url('./fonts/raleway_thin.eot');
    src:local('Raleway thin'), 
		local('Raleway-thin'), 
		url('./fonts/raleway_thin.eot?#iefix') format('embedded-opentype'), 
		url('./fonts/raleway_thin.woff') format('woff'), 
		url('./fonts/raleway_thin.ttf') format('truetype'), 
		url('./fonts/raleway_thin.svg#Raleway') format('svg');
}
