/* Button
   ========================================================================== */

.button {
	/* Structure */
	display: inline-block;
	box-sizing: border-box;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	user-select: none;
	font-family: inherit;
	font-size: 100%;
	padding: $btn-padding;
	color: #444;
	border: none hsla(0, 0%, 0%, 0);
	background-color: $btn-default-bg;
	text-decoration: none;
	border-radius: 4px;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.button-group {
	text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
	.button {
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}
}

.button:hover,
.button:focus {
	background-color: darken($btn-default-bg, 10);
	// opacity: 0.9;
	// background-image: linear-gradient(transparent, hsla(0, 0%, 0%, 0.1) 40%, hsla(0, 0%, 0%, 0.2));
}
.button:focus {
	outline: 0;
}
.button.active,
.button:active {
	box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.15) inset, 0 0 6px hsla(0, 0%, 0%, 0.2) inset;
}

.button[disabled],
.button.disabled {
	border: none;
	background-image: none;
	opacity: 0.4;
	cursor: not-allowed;
	box-shadow: none;
	pointer-events: none;
}

.button-block {
	width: 100%;
	display: block;
}

/* this is a blue */
.button-primary,
a.button-primary {
	color: $btn-primary-color;
	@include button-variant($btn-primary-bg);
}

/* this is a green */
.button-success,
a.button-success {
	color: $btn-success-color;
	@include button-variant($btn-success-bg);
}

/* this is a maroon */
.button-danger,
a.button-danger {
	color: $btn-danger-color;
	@include button-variant($btn-danger-bg, 20);
}

/* this is an orange */
.button-warning,
a.button-warning {
	color: $btn-warning-color;
	@include button-variant($btn-warning-bg, 20);
}

/* this is a light blue */
.button-secondary,
a.button-secondary {
	color: $btn-secondary-color;
	@include button-variant($btn-secondary-bg, 20);
}

/* this is a dark gray */
.button-dark,
a.button-dark {
	color: $btn-dark-color;
	@include button-variant($btn-dark-bg);
}

.button-small {
	font-size: 80%;
}

.button-large {
	font-size: 120%;
}

/* Button Groups */
.button-group {
	@extend .clearfix;
	.button {
		float: left;
		margin: 0;
		border-radius: 0;
		border-right: 1px solid hsla(0, 0%, 0%, 0.2);
		&:first-child {
			@include border-left-radius(3px);
		}
		&:last-child {
			@include border-right-radius(3px);
			border-right: none;
		}
	}
}

.button-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	.button {
		display: table-cell;
		float: none;
	}
}

.close {
	float: right;
	font-size: ($font-size-base * 1.5);
	line-height: 1;
	color: $close-color;
	text-shadow: $close-text-shadow;
	opacity: 0.2;
	&:hover,
	&:focus {
		color: $close-color;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.5;
	}
}
