/* input radio
   ========================================================================== */
$rw: min(30px, max(18px, $radio-width));
input[type="radio"].radio {
  width: $rw;
  height: 1px;
  position: relative;
  overflow: visible;
  border: 0;
  appearance: none;
  outline: 0;
  vertical-align: middle;
  &:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: -$rw/2;
    width: $rw;
    height: $rw;
    line-height: 0.33;
    border: 1px solid #dfdfdf;
    text-align: center;
    border-radius: 50%;
    font-size: floor($rw * 1.8);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
  }
  &:checked:before{
    content: "\2022";
    color: $radio-bg;
  }
}

/* input checkbox
   ========================================================================== */
$cw: min(30px, max(18px, $checkbox-width));
input[type="checkbox"] {
  &.checkbox {
    // font-family: "fontello";
    width: $checkbox-width;
    height: 1px;
    position: relative;
    overflow: visible;
    border: 0;
    appearance: none;
    outline: 0;
    vertical-align: middle;
    &:before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      left: 0;
      top: -$cw/2;
      width: $cw;
      height: $cw;

      @if $cw > 20 {
        line-height: 1.4;
      } @else {
        line-height: 1.3;
      }
      text-align: center;
      border: 1px solid #dfdfdf;
      // border-radius: 50%;
      border-radius: 2px;
      user-select: none;
      cursor: pointer;
      font-size: $cw/2 + 4px;
      overflow: hidden;
      color: #fff;
    }
    &:checked:before {
      content: "\2713";
      background-color: $checkbox-bg;
      border-color: transparent;
    }
  }
  /* 实现switch效果 */
  &.switch {
    width: $switch-width;
    height: $switch-height;
    position: relative;
    overflow: visible;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    vertical-align: middle;
    &:before {
      box-sizing: content-box;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: $switch-width;
      height: $switch-height;
      border: 1px solid #dfdfdf;
      border-radius: $switch-height;
      user-select: none;
      cursor: pointer;
      overflow: hidden;
      background-color: #fdfdfd;
      box-shadow: #dfdfdf 0 0 0 0 inset;
      transition: border 0.4s, -webkit-box-shadow 0.4s, box-shadow 0.4s, background-color 1.2s;
    }
    &:after {
      box-sizing: border-box;
      content: "";
      position: absolute;
      left: 0;
      top: 0.5px;
      width: $switch-height;
      height: $switch-height;
      border: 1px solid #dfdfdf;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      transition: left 0.2s;
      cursor: pointer;
    }
    &:checked {
      &:before {
        border-color: $switch-bg;
        background-color: $switch-bg;
        box-shadow: $switch-bg 0 0 0 16px inset;
      }
      &:after {
        left: $switch-width - $switch-height + 1px;
      }
    }
  }
}
