/* input checkbox
   ========================================================================== */
input[type="checkbox"] {
  &.checkbox {
    font-family: "fontello";
    width: $checkbox-width;
    height: 1px;
    position: relative;
    overflow: visible;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    vertical-align: middle;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -10px;
      width: $checkbox-width;
      height: $checkbox-width;
      line-height: $checkbox-width;
      text-align: center;
      border: 1px solid #dfdfdf;
      border-radius: 50%;
      user-select: none;
      cursor: pointer;
      font-size: min(13px, $checkbox-width/2);
      overflow: hidden;
      color: #fff;
    }
    &:checked {
      &:before {
        content: "\e828";
        background-color: $checkbox-bg;
        border-color: transparent;
      }
    }
  }
  /* 实现switch效果 */
  &.switch {
    width: $switch-width;
    height: $switch-height;
    position: relative;
    overflow: visible;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    vertical-align: middle;
    &:before {
      box-sizing: content-box;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: $switch-width;
      height: $switch-height;
      border: 1px solid #dfdfdf;
      border-radius: $switch-height;
      user-select: none;
      cursor: pointer;
      overflow: hidden;
      background-color: #fdfdfd;
      box-shadow: #dfdfdf 0 0 0 0 inset;
      transition: border 0.4s, -webkit-box-shadow 0.4s, box-shadow 0.4s, background-color 1.2s;
    }
    &:after {
      box-sizing: border-box;
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: $switch-height;
      height: $switch-height;
      border: 1px solid #dfdfdf;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      transition: left 0.2s;
    }
    &:checked {
      &:before {
        border-color: $switch-bg;
        background-color: $switch-bg;
        box-shadow: $switch-bg 0 0 0 16px inset;
      }
      &:after {
        left: $switch-width - $switch-height + 1;
      }
    }
  }
}

/* input radio
   ========================================================================== */
input[type="radio"].radio {
  width: $radio-width;
  height: 1px;
  position: relative;
  overflow: visible;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  vertical-align: middle;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: $radio-width;
    height: $radio-width;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
    color: #fff;
  }
  &:checked {
    &:after {
      content: "";
      position: absolute;
      top: -5px;
      left: 5px;
      width: $radio-width - 10;
      height: $radio-width - 10;
      border-radius: 50%;
      background-color: $radio-bg;
    }
  }
}
