/* Pager
========================================================================== */

.pager {
  padding-left: 0;
  margin: $line-height-computed 0;
  text-align: center;
  list-style: none;
  @extend .clearfix;
  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
      color: $pager-color;
      background-color: $pager-bg;
      border: 1px solid $pager-border;
      border-radius: $pager-border-radius;
    }
    > a {
      &:focus,
      &:hover {
        text-decoration: none;
        background-color: $pager-hover-bg;
      }
    }
  }
  .previous {
    > a,
    > span {
      float: left;
    }
  }
  .next {
    > a,
    > span {
      float: right;
    }
  }
  .disabled {
    > a,
    > a:focus,
    > a:hover,
    > span {
      color: $pager-disabled-color;
      background-color: $pager-bg;
      cursor: not-allowed;
    }
  }
}
