/* Panel
   ========================================================================== */
.table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid $table-border-color;
  background-color: $table-bg;
  caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
  }
  td, th {
    border-left: 1px solid $table-border-color;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
    &:first-child {
      border-left-width: 0;
    }
  }
  thead {
    background-color: $table-thead-bg;
    color: $table-thead-color;
    text-align: left;
    vertical-align: bottom;
  }
  td {
    background-color: transparent;
  }
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.table-odd td {
  background-color: $table-bg-odd;
}

/* nth-child selector for modern browsers */
.table-striped tr:nth-child(2n-1) td {
  background-color: $table-bg-odd;
}

/* BORDERED TABLES */
.table-bordered {
  td {
    border-bottom: 1px solid $table-border-color;
  }
  tbody > tr:last-child > td {
    border-bottom-width: 0;
  }
}

/* HORIZONTAL BORDERED TABLES */
.table-horizontal {
  td, th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid $table-border-color;
  }
  tbody > tr:last-child > td {
    border-bottom-width: 0;
  }
}

.table-justified {
  width: 100%;
  table-layout: fixed;
}
